.card {
    background-color: #393E46!important;
    height: 100%;
    /*width: 30%;*/
}

.github {
    color: #EEEEEE;
}

.grid {
    padding-left: 1%;
    padding-right: 1%;
}

.p-height {
    min-height: 200px;
}

.skills {
    color: #4ECCA3;
}

.icons:hover {
    transform: scale(1.2); /* Scale up to 120% on hover */
    color: #4ECCA3 /* Change the color on hover (adjust to your preferred color) */
}